
p{
  color: #d14436;
  font-size: 35px;
  font-family: 'PT Serif', serif;
  text-shadow: 2px 2px 5px  rgba(0,0,0,0.24);
 
}
button{
  padding: 20px 50px;
  background: #ebe172;
  border-radius: 90px 5px;
  border: none;
  font-family: 'PT Serif', serif;
  color: #d14436;
  font-size: 20px;
 
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #d14436;
  opacity: 0.9;
  font-family: 'PT Serif', serif;
  color: #ebe172;
  font-size: 20px;
}
.App{
  display: flex;
  justify-content: center;

 }

 .btn{
  display: flex;
  justify-content: center;

 }
 body{
  background-image: url(main.jpg);
   background-repeat: no-repeat;
   background-size: 500px 500px;
   min-height: 135vh;
   background-position: center; 
   margin: 0;
 }
